<%- include('./../_layouts/adminheader'); %>

<h2 class="page-title">Add a category</h2>
<a href="/admin/categories" class="btn btn-primary">Back to all categories</a>
<br><br>

<form method="post" action="">
    
    <div class="form-group">
        <label for="">Title</label>
        <input type="text" class="form-control" name="title" value="<%= title %>" placeholder="Title">
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
</form>




<%- include('./../_layouts/adminfooter'); %>