
<!-- <form method="POST" action="/admin/products/add-product" enctype="multipart/form-data">
    <input type="file" name="file">
    <button type="submit">Submit</button>
</form> -->
<%- include('./../_layouts/adminheader'); %>

<h2 class="page-title">Add a new product</h2>
<a href="/admin/products" class="btn btn-primary">Back to all products</a>
<br><br>

<form method="post" action="" enctype="multipart/form-data">

    <div class="form-group">
        <label for="">Title</label>
        <input type="text" class="form-control" name="title" value="<%= title %>" placeholder="Title">
    </div>

    <div class="form-group">
        <label for="">Description</label>
        <textarea name="desc" class="form-control" cols="30" rows="10"
            placeholder="Description"><%= desc %></textarea>
    </div>

    <div class="form-group">
        <label for="">Price</label>
        <input type="text" class="form-control" name="price" value="<%= price %>" placeholder="Price">
    </div>

    <div class="form-group">
        <label for="">Category</label>
        <select name="category" class="form-control">
            <% categories.forEach( categories=>{ %>
             <option value="<%= categories.slug %>"> <%= categories.title %></option>

           <% }) %>
        </select>
    </div>

    <div class="form-group">
        <label for="">Image</label>
        <input type="file" class="form-control" name="fileName" id="img" >
        <img src="#" id="imgPreview" alt="">
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
</form>
<script>
    function readURL(input) {
        if(input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function(e) {
                $("#imgPreview").attr("src", e.target.result).width(200).height(200);
            }
            reader.readAsDataURL(input.files[0]);
        }
    }
    $("#img").change(function() {
        readURL(this);
    });
</script>



<%- include('./../_layouts/adminfooter'); %>