<%- include('./../_layouts/adminheader'); %>

<h2 class="page-title">All categories</h2>
<a href="/admin/categories/add-category" class="btn btn-primary">Add new Category</a>
<br><br>
<table class="table table-striped">
    <thead>
        <tr class="home">
            <th>Title</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        <% category.forEach((category)=>{ %>
        <tr id="id_<%= category.id %>" class="<%= category.slug %> ">
            <td><%= category.title %></td>
            <td><a href="/admin/categories/edit-category/<%= category.slug %>">Edit</a></td>
            <td><a href="/admin/categories/delete-category/<%= category.id %>" class="confirmDeletion">Delete</a></td>
        </tr>
        <%}) %>
    </tbody>
</table>

<%- include('./../_layouts/adminfooter'); %>