<%- include('../_layouts/adminheader') %>

    <h2 class="page-title">Edit a page</h2>
    <a href="/admin/pages" class="btn btn-primary">Back to all pages</a>
    <br><br>

    <form method="post" action="">
        <div class="form-group">
            <label for="">ID page</label>
            <input type="text" class="form-control" name="id" value="<%= page.id %>" readonly>
        </div>
        <div class="form-group">
            <label for="">Title</label>
            <input type="text" class="form-control" name="title" value="<%= page.title %>" placeholder="Title">
        </div>

        <div class="form-group">
            <label for="">Sorting</label>
            <input type="text" class="form-control" name="sorting" value="<%= page.sorting %>" placeholder="Sorting">
        </div>

        <div class="form-group">
            <label for="">Slug</label>
            <input type="text" class="form-control" name="slug" value="<%= page.slug %>" placeholder="Slug">
        </div>

        <div class="form-group">
            <label for="">Content</label>
            <textarea name="content" class="form-control" id="ta" cols="30" rows="10" placeholder="Content"><%= page.content %></textarea>
        </div>

        <button class="btn btn-default">Submit</button>
    </form>

    <%- include('../_layouts/adminfooter') %>