<%- include('../_layouts/adminheader') %>
    <h2 class="page-title">Edit product</h2>
    <a href="/admin/products" class="btn btn-primary">Back to all products</a>
    <br><br>
    <form method="post" action="" enctype="multipart/form-data" style="margin-bottom: 50px;">
        <div class="form-group">
            <label for="">Title</label>
            <input type="text" class="form-control" name="title" value="<%= title %>" placeholder="Title">
        </div>
        <div class="form-group">
            <label for="">Description</label>
            <textarea name="desc" class="form-control" cols="30" rows="10" placeholder="Description"><%= desc %></textarea>
        </div>
        <div class="form-group">
            <label for="">Category</label>
            <select name="category" class="form-control">
            <% categories.forEach(function(cat){ %>
            <option value="<%= cat.slug %>" <% if (cat.slug == category) { %> selected="selected" <% } %>>
                <%= cat.title %></option>
            <% }); %>
        </select>
        </div>
        <div class="form-group">
            <label for="">Price</label>
            <input type="text" class="form-control" name="price" value="<%= price %>" placeholder="Price">
        </div>
        <div class="form-group">
            <label for="">Current Image</label>
            <p>
                <% if (image == "") { %>
                    <img id="noimage" src="/images/noimage.png" height="100px" width="100px" name="currentImage">
                    <% } else {%>
                        <img id="noimage" src="/product_images/<%= id %>/<%= image %>" height="100px" width="100px" name="currentImage">
                        <% } %>
            </p>
        </div>

        <div class="form-group">
            <label for="">Upload Image</label>
            <input type="file" class="form-control" name="image" id="img">
            <img src="#" id="imgPreview" alt="">
        </div>
        <input type="hidden" name="pimage" value="<%= image %>">
        <button class="btn btn-default">Submit</button>


    </form>


    <hr>
    <h3 class="page-header">Gallery</h3>

    <ul class="gallery">
        <% galleryImages.forEach(function(image){ %>
            <% if (image != "thumbs") { %>
                <li style="display: inline-block;margin-right: 20px;">
                    <img src="/product_images/<%= id %>/gallery/thumbs/<%= image %>" alt="">&nbsp;
                    <a href="/admin/products/delete-image/<%= image %>?id=<%= id %>" class="confirmDeletion">delete</a>
                </li>
                <% } %>
                    <% }); %>
    </ul>

    <br><br>
    <form action="/admin/products/product-gallery/<%= id %>" method="post" enctype="multipart/form-data" class="dropzone" id="dropzoneForm" style="margin-bottom: 200px;">
        <div class="fallback">
            <input type="file" name="file" multiple>
            <input type="submit" value="Upload">
        </div>
    </form>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.1.1/basic.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.1.1/dropzone.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.1.1/dropzone.js"></script>
    <script>
        // Preview image
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function(e) {
                    $("#imgPreview").attr('src', e.target.result).width(100).height(100);
                }

                reader.readAsDataURL(input.files[0]);
            }
        }
        $("#img").change(function() {
            readURL(this);
        });

        // Dropzone
        Dropzone.options.dropzoneForm = {
            acceptedFiles: "image/*",
            init: function() {
                this.on("queuecomplete", function(file) {
                    setTimeout(function() {
                        location.reload()
                    }, 1000);

                });
            }
        }
    </script>