
<%- include('../_layouts/adminheader') %>

<h2 class="page-title">Edit a Category</h2>
<a href="/admin/categories" class="btn btn-primary">Back to all Category</a>
<br><br>

<form method="post" action="">
    <div class="form-group">
        <label for="">ID Category</label>
        <input type="text" class="form-control" name="id" value="<%= category.id %>" readonly>
    </div>
    <div class="form-group">
        <label for="">Title</label>
        <input type="text" class="form-control" name="title" value="<%= category.title %>" placeholder="Title">
    </div>
    <button class="btn btn-default">Submit</button>
</form>

<%- include('../_layouts/adminfooter') %>