<%- include('./../_layouts/adminheader'); %>

<h2 class="page-title">All pages</h2>
<a href="/admin/pages/add-page" class="btn btn-primary">Add page</a>
<br><br>
<table class="table table-striped">
    <thead>
        <tr class="home">
            <th>Title</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        <% pages.forEach((page)=>{ %>
        <tr id="id_<%= page.id %>" class="<%= page.slug %> ">
            <td><%= page.title %></td>
            <td><a href="/admin/pages/edit-page/<%= page.id %>">Edit</a></td>
            <% if(page.slug=="home"){ %>
            <td></td>
            <% }else{ %>
            <td><a href="/admin/pages/delete-page/<%= page.id %>" class="confirmDeletion">Delete</a></td>
            
            <%} %>
        </tr>
        <%}) %>
    </tbody>
</table>

<script src="https://code.jquery.com/jquery-3.6.0.min.js">
</script>
<script>
    $('tbody').sortable({
        items: "tr:not('.home')",
        placeholder: "ui-stage-hightlight",
        update: function () {
            var ids = $('tbody').sortable("serialize");
            var url = "/admin/pages/reorder-page";

            $.post(url, ids);

        }
    });
</script>


<%- include('./../_layouts/adminfooter'); %>