<%- include('./../_layouts/adminheader'); %>

<h2 class="page-title">All products</h2>
<a href="/admin/products/add-product" class="btn btn-primary">Add a new product</a>
<br><br>
<% if(count > 0){ %>

<table class="table table-striped">
    <thead>
        <tr class="home">
            <th>Product</th>
            <th>Price</th>
            <th>Category</th>
            <th>Product Img</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        <% products.forEach((product)=>{ %>
        <tr>
            <td><%= product.title %></td>
            <td><%= product.price %></td>
            <td><%= product.category %></td>

            <td>
                <% if(product.image==""){ %>
                <img src="/images/noimage.png">
                <% } else { %>
                <img src="/product_images/<%= product.id %>/<%= product.image %>" height="150" width="150">
                <% } %>
            </td>

            <td><a href="/admin/products/edit-product/<%= product.id %>">Edit</a></td>

            <td><a href="/admin/products/delete-product/<%= product.id %>" class="confirmDeletion">Delete</a></td>
        </tr>
        <%}) %>
    </tbody>
</table>
<% } else{ %>
<h3 class="text-center">No product</h3>
<% } %>
<%- include('./../_layouts/adminfooter'); %>