</div><!-- /.container -->
<br><br><br>
<hr>
<p class="text-center">&COPY; CmsShoppingCart</p>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="//cdn.ckeditor.com/4.7.1/standard/ckeditor.js"></script>
<script src="/js/main.js"></script>
</body>

</html>