</div>
</div>
</div>
<!-- /.container -->
<br><br><br>
<hr>
<p class="text-center">&COPY; CmsShoppingCart</p>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.1.20/jquery.fancybox.min.js"></script>
<script src="/js/main.js"></script>
</body>

</html>