<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.1.20/jquery.fancybox.min.css" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
</head>

<body>
    <!-- <div class="ajaxbg">
        <div class="ajaxinner">
            <h3>You are now being redirected to paypal...</h3>
            <img src="/images/ajax-loader.gif" alt="" />
        </div>
    </div> -->
    <nav class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">CmsShoppingCart</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <% pages.forEach(function(page){ %>
                        <% if (page.slug=="home" ) { %>
                            <li>
                                <a href="/">
                                    <%= page.title %>
                                </a>
                            </li>
                            <% } else {%>
                                <li>
                                    <a href="/<%= page.slug %>">
                                        <%= page.title %>
                                    </a>
                                </li>
                                <% } %>
                                    <% }); %>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </nav>
    <div class="container">
        <%- messages('messages', locals) %>

            <% if (errors) {%>
                <% errors.forEach(function(error) { %>
                    <div class="alert alert-danger">
                        <%= error.msg %>
                    </div>
                    <% });%>
                        <% }%>

                            <div class="row">
                                <div class="col-xs-12 col-md-3">
                                    <h3>Categories</h3>
                                    <ul class="list-group">
                                        <li class="list-group-item"><a href="/products">All products</a></li>
                                        <% categories.forEach(function(c){ %>
                                            <li class="list-group-item">
                                                <a href="/products/<%= c.slug %>">
                                                    <%= c.title %>
                                                </a>
                                            </li>
                                            <% }); %>
                                    </ul>
                                </div>
                                <div class="col-xs-12 col-md-1"></div>
                                <div class="col-xs-12 col-md-8">