<div id="messages">
    <% Object.keys(messages).forEach(function (type) { %>
    <ul class="<%= type %>">
        <% messages[type].forEach(function (message) { %>
        <li><%= message %></li>
        <% }) %>
    </ul>
    <% }) %>
</div>



<% Object.keys(messages).forEach(function (type) { %>
<div class="alert laert-<%= type %>">
    <% messages[type].forEach(function (message) { %>
    <%= message %>
    <% }) %>
</div>
<% }) %>